
{% extends 'base/body.html' %}
{% block body_block %}
{% load static %}
<title>Buy A new Product Here | django Backend development</title>
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<h1 class="headh1">Add Product</h1>
{% if submit_success  %}
<div class="alert alert-success">
  {{ submit_success }}
</div>
{% endif %}
<section>
  <form class="" action="" method="POST">
     {{ buyproduct_form }}
     {% csrf_token %}
     <hr>
     <button type="submit" name="button">Add Product</button>
  </form>
</section>
{% endblock %}
